[tool.poetry]
name = "realm"
version = "0.5.0"
description = "A tool for managing python poetry projects"
authors = ["Or Levi <orlevi128@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["monorepo", "realm", "poetry"]

homepage = "https://github.com/orlevii/realm"
repository = "https://github.com/orlevii/realm"
documentation = "https://orlevii.github.io/realm/"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3 :: Only",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]

[tool.poetry.dependencies]
python = "^3.8.1"
click = "^8.1.7"
toml = "^0.10.2"
poethepoet = { version = "<1.0.0", optional = true }
colorama = "^0.4.6"

[tool.poetry.extras]
tasks = ['poethepoet']

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.9"
pytest = "^8.0.0"
pytest-mock = "^3.12.0"
pytest-cov = "^4.1.0"

[tool.poetry.scripts]
realm = 'realm.cli.application:cli'

[tool.poe.tasks]
test.shell = 'pytest --cov=src --cov=tests tests -v'
lint.shell = "ruff check ."
format = [
    { shell = "ruff format ." },
    { shell = "ruff check . --fix" }
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
